* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100vw;
    max-width: 600px;
    height: calc(100vh - 64px);
    margin: 0 auto;
    color: #193C32;
    background-color: #F7FCE2;
}

header h1 {
    font-size: 2.5em;
    padding: 7.5px 0;
    text-align: center;
    background: url('../images/header.png') center center;
    width: 100%;
}

section {
    width: 100%;
    height: 100%;
    background-color: #87BFBB;
    position: relative;
}

section h2 {
    text-align: center;
}

section h3 {
    text-align: center;
    font-size: 20px;
    height: 36px;
    padding: 8px 0;
}

button {
    width: 250px;
    display: block;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 4px;
    border: solid 2px #193C32;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f2dc;
    color: #193C32;
    cursor: pointer;
}

.small-btn {
    font-size: 1.5em;
    height: 45px;
}

.large-btn {
    font-size: 2em;
    height: 55px;
}

/* start page */
#spacer {
    height: 40px;
}

#start-page-button-cont {
    height: 80%;
    width: 100%;
    position: relative;
    box-sizing: content-box;
}

.btn-how-to-play {
    top: 0;
}

.btn-choose-board-size {
    top: 48%;
    width: 250px;
    transform: translateX(-50%) translateY(-50%);
}

#start-page-button-cont .btn-play-game {
    bottom: 0;
}

#start-page-image {
    display: none;
    height: 35%;
    margin: 10% auto;
    border: solid 5px #193C32;
}

/* how to play page */

#how-to-play-page .btn-back-to-start {
    top: 15px;
}

#how-to-play {
    width: 78%;
    margin: 0 auto;
    background-color: #F0F2DC;
    padding: 2px 20px 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 75px;
}

#how-to-play h2 {
    margin-bottom: 2px;
}

#how-to-play span {
    color: blue;
    text-decoration: underline;
}

/* choose board size page */

#choose-board-size-page h2 {
    padding-top: 15px;
}

button[data-size='[3, 4]'] {
    top: 12%;
}

button[data-size='[4, 5]'] {
    top: 24%;
}

button[data-size='[5, 6]'] {
    top: 36%;
}

button[data-size='[6, 8]'] {
    top: 48%;
}

#choose-board-size-page .btn-play-game {
    top: 75%;
}

/* play game page */

#play-game-page h2 {
    padding: 10px 0;
}

#game-board {
    width: 90%;
    margin: 0 auto;
    background-color: #87BFBB;
}

.card-cont {
    background-color: transparent;
    display: inline-block;
}

.inner-card-cont {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.front-card {
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url('../images/back-img.png');
    background-size: cover;
    padding-top: 100%;
}

.front-card,
.back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.back-card {
    transform: rotateY(180deg);
}

.back-card img {
    height: 100%;
    width: 100%;
}

/* Game Finished note */
#game-finished-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #87BFBB;
    z-index: 100;
}

#game-finished {
    position: absolute;
    top: 8%;
    left: calc(50% - 120px);
    width: 280px;
    height: 400px;
    background: #87BFBB;
    color: #193C32;
    z-index: 100;
}

#btn-gf-play-again {
    top: 30%;
}

#btn-gf-choose-board-size {
    top: 52%;
}

#btn-gf-back-to-start {
    top: 75%;
}

/* Media queries*/

/* For screen height min 550px */
@media screen and (min-height: 550px) {
    #start-page-button-cont {
        height: 40%;
    }

    #start-page-image {
        display: block;
    }
}


/* For screen height min 800px */
@media screen and (min-height: 800px) {
    #start-page-button-cont {
        height: 300px;
    }
}


/* For screen width min 400px */
@media screen and (min-width: 400px) {
    header h1 {
        background: url('../images/header-2.png') center center;
    }
}

/* For screen width min 515px */
@media screen and (min-width: 515px) {
    header h1 {
        background: url('../images/header-3.png') center center;
    }
}

/* For screen height max 550px */
@media screen and (max-height: 550px) {
    #choose-board-size-page {
        height: 550px;
    }
}